.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #5A2A6E; /* Fondo del formulario */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limitar el ancho máximo del formulario */
    color: #ffffff; /* Texto blanco */
  }
  
  .modal-subcontainer {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .modal-subcontainer h3 {
    margin-bottom: 0.5rem;
  }
  
  .modal-subcontainer input[type="text"],
  .modal-subcontainer input[type="email"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  .modal-subcontainer input[type="file"] {
    display: none; /* Ocultar el input de archivo original */
  }
  
  .modal-subcontainer label {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFB300; /* Color del botón de seleccionar archivo */
    color: #ffffff; /* Color del texto del botón */
    transition: background-color 0.3s ease;
  }
  
  .modal-subcontainer label:hover {
    background-color: #FFA000; /* Color del botón al pasar el ratón */
  }
  
  .modal-subcontainer img {
    margin-top: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .settings-subcontainer-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6A1B9A; /* Color del botón */
    color: #ffffff; /* Color del texto del botón */
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
  
  .settings-subcontainer-button:hover {
    background-color: #4A148C; /* Color del botón al pasar el ratón */
  }
  
  .settings-subcontainer-button.red {
    background-color: #E53935; /* Color del botón rojo */
  }
  
  .settings-subcontainer-button.red:hover {
    background-color: #C62828; /* Color del botón rojo al pasar el ratón */
  }